<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">{{ app_version }}</span>
        </div>
    </div>
</nav>